*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-app-container {
  min-height: 100vh;
  padding: 10px;
  background: #f3f4f6;
}

.todo-app {
  margin: auto;
  margin-top: 30px;
  padding: 2rem;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 32rem;
  color: #374151;
}

h2 {
  font-size: 24px;
}

.todo-input {
  width: 100%;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 14px;
  font-size: 16px;
  margin-top: 16px;
}

.todo-list {
  margin-top: 32px;
}

.todo-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.todo-item {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 18px;
  margin-right: 24px;
}

.todo-item-label {
  margin-left: 5px;
  padding: 6px 10px;
}

.todo-item-input {
  margin-left: 8px;
  width: 100%;
  border: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 8px;
  font-size: 18px;
}

.line-through {
  text-decoration: line-through;
}

.todo-list .x-button {
  padding: 0;
  width: 40px;
  color: #6B7280;
  border: none;
  cursor: pointer;
}

.todo-list .x-button,
.todo-list .x-button:hover,
.todo-list .x-button:focus{
  background-color: transparent;
}

.todo-list  .x-button-icon {
  height: 1.5rem;
  transition: stroke 150ms ease-in;
}

.todo-list .x-button:hover .x-button-icon,
.todo-list .x-button:focus .x-button-icon{
  stroke: rgb(238, 69, 69);
}

.button {
  color: #6B7280;
  font-size: 14px;
  background: white;
  border: 1px solid lightgray;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  border: 1px solid lightgray;
}

.filter-button {
  border: 1px solid white;
}

.filter-button-active {
  border: 1px solid lightgray;
}

.check-all-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6B7280;
  margin-top: 22px;
  padding-top: 16px;
  border-top: 1px solid lightgray;
}

.check-all-buttons,
.todo-filters{
  display: flex;
  align-items: center;
  gap: 8px;
}

.other-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6B7280;
  margin-top: 22px;
  padding-top: 16px;
  border-top: 1px solid lightgray;
}

.no-todos-container{
  margin: 2rem auto 1rem;
  text-align: center;
}

.no-todos-container p{
  margin-top: 1rem;
}

.name-container{
  margin-bottom: 30px;
}

.name-container h3{
  margin-bottom: 0.75rem;
}

.name-container p{
  margin-top: 1rem;
}

button:not(.button){
  padding: 10px 20px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border: 0;
  outline : 0;
  background-color: whitesmoke;
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease;
}

button:not(.button):hover,
button:not(.button):focus{
  background-color: lightgray;
  color: white;
}

.todo-form-app{
  position: relative;
}

.todo-form-app .todo-form-app-submit{
  padding: 8px;
  position: absolute;
  top: 16px;
  right: 0;
  width: 51px;
  height: 51px;
  background-color: transparent;
}

.todo-form-app-submit:hover,
.todo-form-app-submit:focus{
  background-color: darkgray;
}

.todo-form-app-submit:hover .svg-icon-submit,
.todo-form-app-submit:focus .svg-icon-submit{
  fill: white;
}

.svg-icon-submit{
  fill: #6B7280;
  transition: fill 300ms ease-in-out;
}


/* Transitions */
.item-enter {
  opacity: 0;
  transform: translateX(-20px);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.item-exit {
  opacity: 1;
  transform: translateX(0);
}

.item-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.fade-enter{
  opacity: 0;
}

.fade-exit{
  opacity: 1;
}

.fade-enter-active{
  opacity: 1;
}

.fade-exit-active{
  opacity: 0;
}

.fade-enter-active,
.fade-exit-active{
  transition: opacity 300ms;
}